body{
    font-size: 26px;
    font-family: cursive;
    text-align: center;
    color: rgb(8, 28, 53);
    background-color: rgba(255, 163, 177, 0.982);
}

article{
    background-color: rgba(139, 95, 219, 0.705);
    color: white;
    margin: 45px;
    padding: 25px;
    border-radius: 5%;
    font-size: 16px;     
}


