main {
    border: 4px solid rgb(185, 64, 64);
    border-radius: 5%;
    width: 50%;  
}

section {
    border: 4px;
    border-style: dashed;
    border-color: rgb(64, 185, 130);
    text-align: center; 
    width:75%  
}

body{
    font-size: 2em;
}

h2{
    color:bisque;
    background-color: blueviolet;
    font-size: 2rem;
}